In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# Modelling
from sklearn.metrics import mean_squared_error, r2_score, mean_absolute_error
from sklearn.neighbors import KNeighborsRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor, AdaBoostRegressor
from sklearn.svm import SVR  # Corrected from 'SV'
from sklearn.linear_model import LinearRegression, Ridge, Lasso  # Corrected 'linear model' to 'linear_model'
from sklearn.model_selection import RandomizedSearchCV

# Importing advanced models
from catboost import CatBoostRegressor
from xgboost import XGBRegressor

import warnings

# Suppress warnings (optional)
warnings.filterwarnings("ignore")

# Import csv data as pandas dataframe

In [4]:
df = pd.read_csv('stud.csv')
df.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

# Preparing X and Y variables

In [7]:
X = df.drop(columns=['math score'],axis=1)
X.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,74
1,female,group C,some college,standard,completed,90,88
2,female,group B,master's degree,standard,none,95,93
3,male,group A,associate's degree,free/reduced,none,57,44
4,male,group C,some college,standard,none,78,75

In [16]:
print("Categories in 'gender' variable:  ", end= " ")
print(df['gender'].unique())

print("Categories in 'race/ethnicity' variable:  ", end= " ")
print(df['race/ethnicity'].unique())

print("Categories in 'parental level of education' variable:  ", end= " ")
print(df['parental level of education'].unique())

print("Categories in 'lunch' variable:  ", end= " ")
print(df['lunch'].unique())

print("Categories in 'test preparation course' variable:  ", end= " ")
print(df['test preparation course'].unique())

Categories in 'gender' variable:   ['female' 'male']
Categories in 'race/ethnicity' variable:   ['group B' 'group C' 'group A' 'group D' 'group E']
Categories in 'parental level of education' variable:   ["bachelor's degree" 'some college' "master's degree" "associate's degree"
 'high school' 'some high school']
Categories in 'lunch' variable:   ['standard' 'free/reduced']
Categories in 'test preparation course' variable:   ['none' 'completed']

In [9]:
y = df['math score']
y.head()

0    72
1    69
2    90
3    47
4    76
Name: math score, dtype: int64

In [17]:
# Creat column transformer with 3 types of trasformers.

num_features = X.select_dtypes(exclude="object").columns
cat_features = X.select_dtypes(include="object").columns

from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.compose import ColumnTransformer
 
numeric_transformer=StandardScaler()
oh_transformer =OneHotEncoder()

preprocessor=ColumnTransformer(
    [
        ("OneHotEncoder",oh_transformer,cat_features),
        ("StandardScaler",numeric_transformer,num_features)
        
    ]
)

In [18]:
X =preprocessor.fit_transform(X)

In [19]:
X

array([[ 1.        ,  0.        ,  0.        , ...,  1.        ,
         0.19399858,  0.39149181],
       [ 1.        ,  0.        ,  0.        , ...,  0.        ,
         1.42747598,  1.31326868],
       [ 1.        ,  0.        ,  0.        , ...,  1.        ,
         1.77010859,  1.64247471],
       ...,
       [ 1.        ,  0.        ,  0.        , ...,  0.        ,
         0.12547206, -0.20107904],
       [ 1.        ,  0.        ,  0.        , ...,  0.        ,
         0.60515772,  0.58901542],
       [ 1.        ,  0.        ,  0.        , ...,  1.        ,
         1.15336989,  1.18158627]])

In [20]:
X.shape

(1000, 19)

In [25]:
# Separate data set into train and test
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2,random_state=42)
X_train.shape, X_test.shape

((800, 19), (200, 19))

# Create an evaluate Function to give all Metrics after model training

In [37]:
def evaluate_model(true,predicted):
    mae = mean_absolute_error(true,predicted)
    rmse= np.sqrt(mean_squared_error(true,predicted))
    r2_square = r2_score(true,predicted)
    return mae,rmse,r2_square

In [30]:
from sklearn.ensemble import AdaBoostRegressor

In [41]:
models = {
    "LinearRegression": LinearRegression(),
    "Lasso": Lasso(),
    "Ridge":Ridge(),
    "K-Neighbors Regressor":KNeighborsRegressor(),
    "Decision Tree": DecisionTreeRegressor(),
    "Random Forest Regressor": RandomForestRegressor(),
    "XGB Regressor": XGBRegressor(),
    "Catboosting Regressor": CatBoostRegressor(verbose=False),
    "AdaBoost Regressor": AdaBoostRegressor()

}
model_list=[]
r2_list=[]

for i in range(len(list(models))):
    model = list(models.values())[i]
    model.fit(X_train,y_train) #Train model


# Make predictions 

y_train_pred= model.predict(X_train)
y_test_pred= model.predict(X_test)

# Evaluate train and test dataset.

model_train_mae, model_train_rmse, model_train_r2 = evaluate_model(y_train, y_train_pred)

model_test_mae, model_test_rmse, model_test_r2 = evaluate_model(y_test, y_test_pred)

print(list(model.keys())[i])
model_list.append(list(models.key())[i])

print('Model performance for training set')
print("- Root Mean Squared Error: {:.4f}".format(model_train_rmse))
print("- Mean Absolute Error: {:.4f}".format(model_train_mae))
print("- R2 Score: {:.4f}".format(model_train_r2))

print('----------------------------------------------------------------')

print('Model performance for testing set')
print("- Root Mean Squared Error: {:.4f}".format(model_test_rmse))
print("- Mean Absolute Error: {:.4f}".format(model_test_mae))
print("- R2 Score: {:.4f}".format(model_test_r2))

r2_list.append(model_test_r2)

print('='*35)
print('\n')

AttributeError: 'AdaBoostRegressor' object has no attribute 'keys'

In [ ]:
def evaluate_model(true,predicted):
    mae = mean_absolute_error(true,predicted)
    rmse= np.sqrt(mean_squared_error(true,predicted))
    r2_square = r2_score(true,predicted)
    return mae,rmse,r2_square

In [ ]:
def evaluate_model(true,predicted):
    mae = mean_absolute_error(true,predicted)
    rmse= np.sqrt(mean_squared_error(true,predicted))
    r2_square = r2_score(true,predicted)
    return mae,rmse,r2_square

In [ ]:
def evaluate_model(true,predicted):
    mae = mean_absolute_error(true,predicted)
    rmse= np.sqrt(mean_squared_error(true,predicted))
    r2_square = r2_score(true,predicted)
    return mae,rmse,r2_square

In [ ]:
def evaluate_model(true,predicted):
    mae = mean_absolute_error(true,predicted)
    rmse= np.sqrt(mean_squared_error(true,predicted))
    r2_square = r2_score(true,predicted)
    return mae,rmse,r2_square

In [ ]:
def evaluate_model(true,predicted):
    mae = mean_absolute_error(true,predicted)
    rmse= np.sqrt(mean_squared_error(true,predicted))
    r2_square = r2_score(true,predicted)
    return mae,rmse,r2_square

In [ ]:
def evaluate_model(true,predicted):
    mae = mean_absolute_error(true,predicted)
    rmse= np.sqrt(mean_squared_error(true,predicted))
    r2_square = r2_score(true,predicted)
    return mae,rmse,r2_square

In [ ]:
def evaluate_model(true,predicted):
    mae = mean_absolute_error(true,predicted)
    rmse= np.sqrt(mean_squared_error(true,predicted))
    r2_square = r2_score(true,predicted)
    return mae,rmse,r2_square

In [ ]:
def evaluate_model(true,predicted):
    mae = mean_absolute_error(true,predicted)
    rmse= np.sqrt(mean_squared_error(true,predicted))
    r2_square = r2_score(true,predicted)
    return mae,rmse,r2_square

In [ ]:
def evaluate_model(true,predicted):
    mae = mean_absolute_error(true,predicted)
    rmse= np.sqrt(mean_squared_error(true,predicted))
    r2_square = r2_score(true,predicted)
    return mae,rmse,r2_square

In [ ]:
def evaluate_model(true,predicted):
    mae = mean_absolute_error(true,predicted)
    rmse= np.sqrt(mean_squared_error(true,predicted))
    r2_square = r2_score(true,predicted)
    return mae,rmse,r2_square

In [ ]:
def evaluate_model(true,predicted):
    mae = mean_absolute_error(true,predicted)
    rmse= np.sqrt(mean_squared_error(true,predicted))
    r2_square = r2_score(true,predicted)
    return mae,rmse,r2_square

In [ ]:
def evaluate_model(true,predicted):
    mae = mean_absolute_error(true,predicted)
    rmse= np.sqrt(mean_squared_error(true,predicted))
    r2_square = r2_score(true,predicted)
    return mae,rmse,r2_square

In [ ]:
def evaluate_model(true,predicted):
    mae = mean_absolute_error(true,predicted)
    rmse= np.sqrt(mean_squared_error(true,predicted))
    r2_square = r2_score(true,predicted)
    return mae,rmse,r2_square